.app {
  background-color: var(--bg-body);
  min-height: 100vh;
  color: var(--text-primary);
  transition: all 0.2s;
}

:global(.dark) .app {
  background-color: var(--bg-body);
  color: var(--text-primary);
}
